{% extends 'base.html' %}
{%block content%}
<h1>Login</h1>
<form action="" method="POST">
    <label for="">Título</label><br>
    <input type="text" name="titulo" value="{{post.titulo if post}}"><br><br>

    <label for="">Contenido:</label><br>
    <textarea name="contenido"> {{post.contenido if post}}</textarea><br><br>

    <label for="">Estado:</label><br>
    <select name="estado">
        <option value="borrador" {{'selected' if post.estado=='borrador'}}>Borrador</option>
        <option value="publicado" {{'selected' if post.estado=='publicado'}}>Publicado</option>
    </select><br>

    <input type="submit" value="Enviar">

</form>
<p><a href="/">Volver</a></p>
{%endblock%}