@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
     font-family: 'fira mono'; 
}
html{
    background: rgb(68, 51, 58);    
    background: linear-gradient(90deg, rgb(58, 27, 40) 0%, rgb(68, 51, 58) 50%, rgb(58, 27, 40) 100%);
}
header{
    display: flex;
    justify-content:space-between;
    height: 5vh;
    background-color: black;
}
header div{
    color: white;
}
    