@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
*{
    background: #D31963;
    background: linear-gradient(90deg, rgba(211, 25, 99, 1) 0%, rgba(224, 171, 194, 1) 50%, rgba(211, 25, 99, 1) 100%);
}
html{
    font-family: 'fira mono';
}
header{
    display: flex;
    background-color: blue ;
}