*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: Tahoma, sans-serif;
}


.parent {
min-height: 100vh;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 0,30fr repeat(5, 1fr) 0,30fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { 
    grid-area: 1 / 1 / 2 / 6; 
    background-color: darkgoldenrod;
}
.carrito
{
    text-align: center;
}
.div2 { grid-area: 2 / 4 / 7 / 5;
    background-color: rgb(248, 245, 198); }
.div3 { grid-area: 7 / 1 / 8 / 5; 
    background-color: darkgoldenrod;}
.div4 { grid-area: 2 / 1 / 7 / 4; 
    
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-content: center;
    text-align: center;
    }
.producto{
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    justify-content: space-between;
    overflow: hidden;
    background-color: darkgoldenrod;
}
.titulo{
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
.titulo ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
a{
    font-size: 0,3rem;
    text-decoration: none;
    color: black;
}

.footesq{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

button{
    border-radius: 5px;
    margin-bottom: 0.25rem;
}