*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(139, 207, 207);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1{
    font-size: 40px;
}