/* cntrl + รง para comantarios */
h3{color: coral;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: ; }
h6{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        color: #ea4282;
        background-color: #42EA5F;
        text-align: center;

    }
#inicio{
    font-size: 69px;
     text-align: right;
    }