
        *{
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: white;
        }
        body{
            font-family: sans-serif;
            font-size: 25px;
            background-color: #292a2d;
        }
        header{
            font-family: 'Fira Mono';
            height: 10vh;
            display: flex;
            background-color: #252627;
            justify-content: space-around;
            align-items: center;
        }
        header div{
            padding: 1rem;
        }
        header div a{
            text-decoration: none;
            font-size: 1rem;
        }
        main{
            height: 80vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            gap: 3rem;
        }
        main div ul li{
            font-size: 1rem;
            display: inline-block;
        }
        footer{
            height: 10vh;
            background-color: #252627;
            text-align: center;
            justify-content: end;
          
        }
        footer p{
            padding-top: 1rem; 
            font-size: 1rem;
            font-family: sans-serif;
            text-align: center;
        }