

@import url('https://fonts.cdnfonts.com/css/digital-numbers');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: 'Digital Numbers', sans-serif;
            font-size: 24px;
            text-align: center;
            margin-top: 50px;
        }
        .parent {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap:0px;
            grid-row-gap: 0px;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: lime;
            height: 40vh;
            width: 80vw;
            border: 2px solid black;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 2rem;
         }

        .div1 { grid-area: 1 / 1 / 3 / 6; 
            font-size: 80px;
        }
        #segundos {
            font-size: 40px;
        }
        .div2 { grid-area: 3 / 1 / 4 / 3; 
            font-size: 28px;
        }
        .div3 { grid-area: 3 / 3 / 4 / 4;
            font-size: 28px;
        }
        .div4 { grid-area: 3 / 4 / 4 / 6;
            font-size: 28px;
        }

        button {
            font-size: 18px;
            margin: 10px;
            padding: 10px 20px;
        }